.container {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  ul{
    list-style: none;
  }
  &--box {
    display: flex;
    justify-content: space-between;
    &-img {
     width: 35rem;
     height: 25rem;
    }
    &-contents {
      h2 {
        // color: #fff;
        color: hsl(0, 0%, 100%);
        margin-bottom: 2rem;
      }
      .inner-box {
        display: flex;
        justify-content: center;  
        font-size: 1.3rem;
        color: #ccc;
      //  background-color: red;
    &--l1{
      border: 1px solid #fff;
    }
    &--l2{
      border: 1px solid red;
    }
  
      }
      .content--footer {
        border: 1px solid yellow;
        margin-top: 2.5rem;
        display: flex;
        font-size: 1.5rem;
        color: #ccc;
      }
    }
  }
}
