.country-App{
    // border: 1px solid green;
    // width: 90%;
    width: 90%;
    margin: 0 auto;
    // margin-left: 10%;
    // text-align: center;
    .countryBox{
        border: 1px solid blue;
        width: 20rem;
        // background-color: red;
        img{
            width:20rem;
        }
    }
}