.countryListApp{

    div{
        margin-top: 1rem;
        form{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid red;
            div{
                width: 40%;
                border: 1px solid orange;
                background-color: blueviolet;
              display: flex;
              align-items: center;
                margin-left: 1rem;
                label{
                    margin-left: 2rem;
                    img{
                        width: 2rem;
                        height: 2rem;
                    }
                }
                // font-size: 1.4rem;
                input{
                    width: 90%;
                    padding: 1rem;
                    background-color: transparent;
                    border: none;
                    color: hsl(0, 0%, 100%);
                    &:focus{
                        outline: none;
                        border: none;
                    }
                 
                }
            }
          
        }
        select{
            padding: 1rem;
            width:15rem;
            background-color: red;
            color: #fff;
            border: none;
            &:focus{
                outline: none;
                border: none;
            }
            // margin-right: 1.5rem;
        }
    }
 .countryList{
     display: grid;
    border: 2px solid yellow;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     width: 100%;
    //  border: 1px solid red;
    //  justify-content: space-between;
 }
}