.countryListApp{

    &--container{
        // margin-top: 1rem;
        border: 2px solid green;
      
        form{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid red;
            div{
                width: 40%;
                background-color: hsl(209, 23%, 22%);
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
              display: flex;
              align-items: center;
                margin-left: 3rem;
                label{
                    margin-left: 2rem;
                    img{
                        width: 2rem;
                        height: 2rem;
                    }
                }
                // font-size: 1.4rem;
                input{
                    width: 90%;
                    padding: 1rem;
                    background-color: transparent;
                    border: none;
                    color: hsl(0, 0%, 100%);
                    &:focus{
                        outline: none;
                        border: none;
                    }
                    &::placeholder{
                        color: hsl(0, 0%, 100%);
                    }
                 
                }
            }
          
        }
        select{
            padding: 1rem;
            // margin-right: 2rem;
            width:15rem;
            background-color: hsl(209, 23%, 22%);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            color: #fff;
            border: none;
            &:focus{
                outline: none;
                border: none;
            }
        }
        .countryList{
            margin-top: 2rem;
            display: grid;
            border: 2px solid yellow;
            justify-content: center;
            grid-template-columns:repeat(4, 1fr);
            width: 100%;
        }
    }
   @media only screen and (max-width:875px){
    &--container{
 
        form{
        background-color: #fff;
            div{
                width: 40%;
                margin-left: 0em;
                input{
                    width: 100%;    
                }
            }
          
        }
        select{
            margin-right: 0rem;
        }
        .countryList{
            margin-top: 2rem;
            grid-template-columns:repeat(3, 1fr);
        }
    }
   }
   @media only screen and (max-width:687px){
    &--container{
 
        form{
        background-color: #fff;
            div{
                width: 40%;
                margin-left: 0em;
                input{
                    width: 100%;    
                }
            }
          
        }
        select{
            margin-right: 0rem;
        }
        .countryList{
            margin-top: 2rem;
            grid-template-columns:repeat(3, 1fr);
        }
    }
   }
}