.App{
    background-color: hsl(207, 26%, 17%);
    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: hsl(209, 23%, 22%);
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        padding: 1.5rem 4.5rem;
       
            h1{
                font-size: 2rem;
                font-weight: 600;
                color: hsl(0, 0%, 100%);
            }
        div{
            display: flex;
            align-items: center;
            img{
                width:1.3rem;
                height:1.3rem;
            }
            span{
                font-size: 1.2rem;
                font-weight: 600;
                margin-left: .5rem;
                color: hsl(0, 0%, 100%);
            }
        }
    }
    &-body{
        // border: 1px solid orange;
        width: 90%;
        margin: 0 auto;
        height: 100vh;
        margin-top: 3rem;
    }
}
