.inputChek{display: none;}
.inputChek:checked ~ .App,
.inputChek:checked ~ .App .App-header,
.inputChek:checked ~ .App .App-header h1{
    background-color: #fff;
    color: #222;
}
.App{
    background-color: hsl(207, 26%, 17%);
    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: hsl(209, 23%, 22%);
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        padding: 1.5rem 4.5rem;
       
            h1{
                font-size: 2rem;
                font-weight: 800;
                color: hsl(0, 0%, 100%);
            }
        div{
            .logoSvg{
                height: 1.5rem;
                width: 1.6rem;
                cursor: pointer;
            }
            .logoSvg2{
                // display: none;
                fill: #fff;
                height: 1.5rem;
                width: 1.6rem;
                cursor: pointer;
            }
            display: flex;
            align-items: center;
            img{
                width:1.3rem;
                height:1.3rem;
                cursor: pointer;
                // display: none;
            }
            .navText{
                font-size: 1.2rem;
                font-weight: 600;
                margin-left: .5rem;
                color: hsl(0, 0%, 100%);
            }
            .navText2{
                font-size: 1.2rem;
                font-weight: 600;
                margin-left: .5rem;
                color: #222;
            }
        }
    }
    &-body{
        // border: 1px solid orange;
        width: 90%;
        margin: 0 auto;
       min-height: 100vh;
        margin-top: 3rem;
    }
    @media only screen and (max-width:375){
        
    }
}
